.ui-state-default, .ui-widget-content .ui-state-default {
	text-align: center;
	margin-right: 3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 6px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background: #000;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #000;
	color: #fff !important;
}
.certificate-tabs {
	margin-top: 50px;
}
.mt-40 {
	margin-top: 40px;
}
.table.dataTable thead th {
    border-bottom: 1px solid #dee2e6;
}
.table.dataTable tfoot th {
	border-top: 1px solid #dee2e6;
}
.mt-10 { margin-top: 10px; }
.number { height: auto !important; padding: 7.5px .75rem; }