.cf-search {
    width: 700px;
    margin: 50px auto !important;
    background: #f7f8fd;
    border: 3px solid #eceefb;
    padding: 30px;
    border-radius: 10px;
}
.cf-search form {
    display: inline-flex;
	width: 100%;
}
.cf-field {
	display: inline-block !important;
    border: 1px solid #000 !important;
    margin-bottom: 0px !important;
    width: 90%;
    padding-left: 16px;
    height: 47px;
}
.cf-btn {
	display: inline-block;
	border: none;
    height: 47px !important;
    width: 200px;
    background: #000 !important;
    color: #fff !important;
    min-height: 47px;
	border-radius: 0 !important;
}
.success {
	color: #155724;
    background-color: #d4edda;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
}
.danger {
    color: #721c24;
    background-color: #f8d7da;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
}
/* CSS */
.cf-btn:hover {
	background: #000 !important;
    color: #fff !important;
}
.rs-heading {
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.search-table {
    border-spacing: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    min-width: 100%;
    border-bottom: 1px solid #ddd;
}
.search-table thead {
	background-color: transparent;
}
.search-table thead tr th {
    background-color: #000 !important;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 10px;
    letter-spacing: 1px;
    font-size: 16px;
}
.search-table tbody tr td {
    border-right: 1px solid #ddd;
    padding: 14px 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.br-0 {
	border-right: none !important
}
body {
	overflow-x: hidden;
}
.btlr-10{ border-top-left-radius: 10px; }
.btrr-10{ border-top-right-radius: 10px; }
.bl-1{ border-left: 1px solid #ddd; }
.cf-field:focus, .cf-btn:focus { outline: none; }

@media screen and ( max-width: 768px ){
	.cf-search{ width: 90%; }
}
@media screen and ( max-width: 480px ){
	.cf-search form { display: initial; }
	.cf-field, .cf-btn {
		display: block !important;
		width: 100%;
	}
}